version: '3.1'
services:
  mongodb:
    image: mongo:latest
    container_name: db
    environment:
      - MONGO_INITDB_DATABASE=TopicstoreDb
    #ports:
    #  - 27017:27017
    volumes:
      - ./bootcamp-devops-2023/295topics-fullstack/db/mongo-init.js:/docker-entrypoint-initdb.d/init-mongo.js
      - persistent:/data/db
    networks:
      - red1
      - red2

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=password
    depends_on:
      - mongodb
    networks:
      - red2

  my-api:
    build:
      context: ./bootcamp-devops-2023/295topics-fullstack/backend
      dockerfile: Dockerfile
    container_name: my-api
    environment:
      - DATABASE_URL=mongodb://mongodb:27017
      - HOST=my-api
    depends_on:
      - mongodb
    #ports:
      #- 5000:5000
    networks:
      - red1
      - red3

  front:
    build:
      context: ./bootcamp-devops-2023/295topics-fullstack/frontend
      dockerfile: Dockerfile
    container_name: front
    environment:
      - API_URI=http://my-api:5000/api/topics
    depends_on:
      - my-api
    ports:
      - 3000:3000
    networks:
      - red3


networks:
  red1:
  red2:
  red3:

volumes:
  persistent:
